<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/information/personal-info">
    Personal information</a>
  </li>
  <li class="nav-item">
    <a [ngClass]="['nav-link', (personalInformation$ | async) ? '' : 'disabled']" routerLinkActive="active" routerLink="/information/company-info">Company information</a>
  </li>
  <li class="nav-item">
    <a [ngClass]="['nav-link', (personalInformation$ | async) && (companyInformation$ | async) ? '' : 'disabled']" routerLinkActive="active" routerLink="/information/add-files">Upload files</a>
  </li>
  <li class="nav-item">
    <a [ngClass]="['nav-link', (personalInformation$ | async) && (companyInformation$ | async)  ? '' : 'disabled']" routerLinkActive="active"  routerLink="/information/review-submit">Review and submit</a>
  </li>
</ul>
<div class="standard-container">
  <router-outlet></router-outlet>
</div>
