<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <!-- <img src="https://firebasestorage.googleapis.com/v0/b/namebadge-7e1ac.appspot.com/o/Azzcon-Logo-213x117-140425.jpeg?alt=media&token=ed10e1ba-c0c0-42b6-add2-919a4aaa7c4b" alt="" width="100" height="45"> -->
    <span class="navbar-brand mb-0 h1">Azzcon</span>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" routerLinkActive="active" *ngIf="!(userData$ | async)">Login</a>
      </li>
    </ul>
    <button class="btn" *ngIf="userData$ | async" (click)="signOut()">Logout</button>
  </div>
</nav>
